@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    background-color: #282a36;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #f8f8f2;
    margin: 0;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
}

h1 {
    font-size: 14pt;
}

h2 {
    font-size: 11pt;
    font-weight: 400;
}

img {
    margin-right: 9px;
    height: 45px;
    width: 45px;
    background-color: #bd93f9;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);

}

button:hover {
    background-color: #ff555570;
    transition: .2s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

input {
    border: none;
    display: none;
    color: #f8f8f2;
    border: solid 1px #f8f8f260;
    border-radius: 6px!important;
    background-color: #f8f8f210;
    width: 100px;
}

.external {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.internal {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: #44475a;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
}

.content {
    margin: auto;
    padding: 2em 2em;
}

.waktu {
    text-align: right;
    margin-bottom: 1.5em;
}

.time {
    font-size: 4.5em;
}

.reload {
    background-color: #ff79c690;
    color: #f8f8f2;
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-top: .5em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.cuaca {
    display: flex;
    align-items: center;
}

.city {
    display: flex;
    align-items: center;
}

.changeCity {
    font-size: 12pt;
    color: #f8f8f2;
    background-color: rgba(0,0,0,.0);
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: 5px;
    transform: scaleX(-1);
}

.changeDone {
    display: none;
    background-color: #50fa7b70;
    font-size: 12pt;
    color: #f8f8f2;
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: 5px;
}

.lastup {
    margin-top: 3px;
    color: #f8f8f280;
    font-size: 9px;
}

.break {
    height: 1px;
    width: 200px;
    background-color: #f1fa8c60;
    margin: auto;
    margin-top: 1.5em;
}

.covid {
    margin-top: 1.5em;
    padding: 0 10px;
}

.judul {
    font-size: 11pt;
    text-align: center;
}

.updateCovid {
    color: #f8f8f280;
    font-size: 8pt;
    text-align: center;
    margin-bottom: 1em
}

.penambahan {
    display: flex;
}

.data {
    font-size: 9pt;
    margin-bottom: .3em;
}

.ket {
    width: 8em;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
